@import "colors";
@import "fonts";
@import "mixins";

@import "1header";
@import "2main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
p,
button,
span {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

h1 {
  color: $darkDesaturatedBlue;
}

p {
  color: $grayishBlue;
}
